<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK-CRUD_APP_home_page.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css" type = "text/css">
    <style>
        .img
        {
            height:1000
            width:1000
        }
    </style>
</head>

<body>
      <div class="parent">
        <div class="child child1">
            <h1 class="text-center"><i><b>EmployeeConsultancy System</b></i></h1>
        </div>
        <div class="child child2">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);"  href="#">Instagram</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">Linkedin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">facebook</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="color:rgb(0, 75, 93);" href="#">whatsapp</a>
                </li>
              </ul>
        </div>
        <div class="child child3">
            <ul class="nav nav-tabs nav-fill" style="background-color:rgb(0, 75, 93);">

                <li class="nav-item">
                  <a class="nav-link" style="color:whitesmoke;" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color:whitesmoke;" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color:whitesmoke;" href="/signup">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color:whitesmoke;" href="/contactus">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"   style="color:whitesmoke;" href="/qrcode3">Qrcode</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"   style="color:whitesmoke;" href="/weather">Weather</a>
                </li>
              </ul>
   {% block body %}
<center>
        <div class="child child4">

      </div>
</center>
      <div class="child child5" style="color:rgb(0, 75, 93);"><h3 class="m-2"></h3></div>
            <img src="https://www.emrrecruitment.co.uk/img/35771ae9-f9c0-4dda-e0ac-08d9a2cba0b9",height="1000px",width="3080px"><img/>
        <div class="child child6 container">

            <div class="centercontent">
                <div class="textcontent">
              <b><p> Employability Consultancy System provide guidance to people making choices
about their career. They could help a client who wants to further their career, a client who
wants to change career direction, or a client who isn’t quite sure what they want.
 Employability Consultancy System undertake a wide range of duties including:<br>
> Assessing clients' personal characteristics, skills and interests via one-to-one
interviews and/or group sessions<br>
> Providing appropriate help, advice and recommendations based on
interviews/test results<br>
> Running workshops<br>
> Offering practical assistance with job seeking, applications/cvs and interviews<br>
> Administering and interpreting psychometric and personality tests<br>
> Helping clients to solve problems and manage their own careers<br>
> Aiding clients in their search for appropriate employment </p></b><br>
                    <b><h2>Importance Of Employeebility Consultancies</h2></b>
                   <i><b><p>1. They bring in the expertise they have gained from working for multiple other organizations.</p></i><br>
                    <i><p>2. They bring in an outside perspective with objectivity and without any biases.</p></i><br>
                    <i></i><p>3. They understand and know market trends better.</p><br></i>
                    <i><p>4. Hiring them is flexible as HR leaders can do it at specific times.</p></b></i>
               </div>
            </div>
        </div>

        <div class="child child7" style="background-color:rgb(0, 75, 93); color:whitesmoke;">
            <p class="p-3 text-center">copyright &copy; employee consultancy ,email:employeeconsultancy@gmail.com</p>
        </div>
      </div>
    {% endblock %}
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>